<nav>
  <h1>
    <a [routerLink]="['/']" >
      <i class="fas fa-bullhorn"></i>
      <span class="text-primary">Naija</span>News
    </a>
  </h1>
  <ul>
    <li >
      <a [routerLink]="['/posts']">Posts</a>
    </li>
    <li *ngIf="isUserloggedIn">
      <a [routerLink]="['/posts/create']">New Post</a>
    </li>
    <li>
      <a href="">Entertainment</a>
    </li>
    <li><a href="">Business</a></li>
    <li><a href="">Culture</a></li>
    <li><a href="">Sport</a></li>
    <div class="flex-nav" *ngIf="!isUserloggedIn">
        <li><a [routerLink]="['/auth']"  >Login</a></li>
        <li class="signup"><a [routerLink]="['/auth']">Signup</a></li>
    </div>
    <li *ngIf="isUserloggedIn" class="welcome">Welcome {{loggedInUser.userName | titlecase}}</li>
      <li *ngIf="isUserloggedIn" class="signup" (click)="logout()"><a >Logout</a></li>
  </ul>
</nav>
