nav {
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 1rem;
  @media only screen and (max-width: 48rem) {
    display: flex;
    flex-direction: column;
  }
  h1 {
    cursor: pointer;
    display: flex;
    align-items: center;
   // width: 45%;
    justify-content: space-between;
    a {
      color: black;

    }
    .hamburger {
      display: none;
      @media only screen and (max-width: 48rem) {
        display: flex;
        order: -1;

      }
    }

  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 48rem) {
      display: none;
      &.top-nav {
        display: flex;
        flex-direction: column;
      }
      &.top-nav .flex-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      &.top-nav .flex-nav li.signup, &.top-nav li.signup  {
        border: none;
      }
      &.top-nav li, &.top-nav .flex-nav li {
        width: 100%;
        padding: .3rem;
        padding-left: 0;
        margin-left: 0;
      }
      &.top-nav li:first-child {
       margin-top: .7rem;
      }
      &.top-nav li::not:last-child {
        margin: .7rem;
      }
      &.top-nav li a, &.top-nav .flex-nav li a {
        font-size: 1rem;
        padding-left: 0;
      }
    }


    li {
      margin: 0 .6rem;
      display: flex;
      align-items: center;
      position: relative;
      transition: all .3s ease;
      a {
        padding: .5rem;
        color: black;
        font-size: .9rem;
      }
      &:hover a {
        color: #008751;
      }

       &:hover a {
        color: #fff;
      }
    }

  }
}
li.signup {
  border: 1px solid #008751;
  border-radius: 4px;
  cursor: pointer;
}
li.signup:hover, li:hover {
  background: #008751;
  border-radius: 4px;
}
.welcome:hover {
  color: black;
  background: none;
}

.text-primary {
  color: #008751;
}

.flex-nav {
  display: flex;
  align-items: center;
}
.d-none {
  display: none;
}
.d-block {
  display: flex;
  flex-direction: column;
}
